### Exercise 5

<div class="alert-success">
    
1. **Get a polygons map of the lowest administrative unit possible. : distrito**
    
2. Get a **table of variables for those units**. At least 3 numerical variables. densidad poblacion, indice de contaminacion  indice de probreza, etc**
    poblacion y superficie no considerar para las 3 varibles cuanti

3. **Preprocess both tables and get them ready for merging.**

4. **Do the merging, making the changes needed so that you keep the most columns.**
    el ejercicio ess juntar la data con la tabla de datos, no hay ningun calculo
    
    
</div>

In [2]:
from  fiona import listlayers
import os

argentinaMaps=os.path.join('maps','argentina22171','argentinaMaps22171_all3.gpkg')

#layers in maps
listlayers(argentinaMaps)

['country',
 'cities',
 'rivers',
 'states',
 'municipalities',
 'border',
 'airports']

In [3]:
# reading in the data:
import os
import geopandas as gpd

country=gpd.read_file(argentinaMaps,layer='country')
states=gpd.read_file(argentinaMaps,layer='states')
municipalities=gpd.read_file(argentinaMaps,layer='municipalities')
airports=gpd.read_file(argentinaMaps,layer='airports')
rivers=gpd.read_file(argentinaMaps,layer='rivers')
border=gpd.read_file(argentinaMaps,layer='border')

In [5]:
# data table
import pandas as pd

argData=os.path.join("data","base_de_datos_3_var.xlsx")
datadis=pd.read_excel(argData,
                     dtype={'Ubigeo': object})
datadis.info()
#hasta ahora solo hemos trabajado con su geometria no con su data
#tengo q hacer un merge: o sea meter la data dentro del poligono

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Area geografica       27 non-null     object
 1   Pobreza_personas(%)   27 non-null     object
 2   Muertes_tuberculosis  16 non-null     float64
 3   IDH_2019              19 non-null     object
 4   año                   27 non-null     float64
 5   pais                  27 non-null     object
dtypes: float64(2), object(4)
memory usage: 2.6+ KB

In [11]:
datadis.rename(columns={'Area geografica':'Provincia', 'pais':'Pais'},inplace=True)
datadis.head()

,Provincia,Pobreza_personas(%),Muertes_tuberculosis,IDH_2019,año,Pais
0,Ciudad Autónoma de Buenos Aires,"1,3",28.0,"0,882",2019.0,Argentina
1,Buenos Aires,"11,3",209.0,"0,842",2019.0,Argentina
2,Mendoza,"7,9",8.0,"0,848",2019.0,Argentina
3,San Juan,"3,4",7.0,"0,838",2019.0,Argentina
4,San Luis,"3,5",1.0,"0,843",2019.0,Argentina

In [12]:
# map
#import geopandas as gpd

#peruDataDist=os.path.join('miningGDF',"maps","DistritosMap.zip")

#datadismap=gpd.read_file(peruDataDist)

states.head()

,Pais,ADM0_PCODE,Provincia,ADM1_PCODE,geometry
0,Argentina,AR,Buenos Aires,AR006,MULTIPOLYGON Z (((2335919.444 5475450.748 0.00...
1,Argentina,AR,Catamarca,AR010,"POLYGON Z ((1906189.076 7204695.456 0.000, 191..."
2,Argentina,AR,Chaco,AR022,"POLYGON Z ((2494292.791 7296258.081 0.000, 249..."
3,Argentina,AR,Chubut,AR026,MULTIPOLYGON Z (((1916196.919 4975824.860 0.00...
4,Argentina,AR,Ciudad de Buenos Aires,AR002,"POLYGON Z ((2747577.276 6094399.410 0.000, 274..."

In [13]:
#rename
states.rename(columns={'ADM1_ES':'Provincia', 'ADM0_ES':'Pais'},inplace=True)
states.head()

,Pais,ADM0_PCODE,Provincia,ADM1_PCODE,geometry
0,Argentina,AR,Buenos Aires,AR006,MULTIPOLYGON Z (((2335919.444 5475450.748 0.00...
1,Argentina,AR,Catamarca,AR010,"POLYGON Z ((1906189.076 7204695.456 0.000, 191..."
2,Argentina,AR,Chaco,AR022,"POLYGON Z ((2494292.791 7296258.081 0.000, 249..."
3,Argentina,AR,Chubut,AR026,MULTIPOLYGON Z (((1916196.919 4975824.860 0.00...
4,Argentina,AR,Ciudad de Buenos Aires,AR002,"POLYGON Z ((2747577.276 6094399.410 0.000, 274..."

In [15]:
tablaMergeadas=states.merge(datadis, left_on='Provincia', right_on='Provincia')
tablaMergeadas

,Pais_x,ADM0_PCODE,Provincia,ADM1_PCODE,geometry,Pobreza_personas(%),Muertes_tuberculosis,IDH_2019,año,Pais_y
0,Argentina,AR,Buenos Aires,AR006,MULTIPOLYGON Z (((2335919.444 5475450.748 0.00...,"11,3",209.0,"0,842",2019.0,Argentina
1,Argentina,AR,Catamarca,AR010,"POLYGON Z ((1906189.076 7204695.456 0.000, 191...","7,6",2.0,"0,844",2019.0,Argentina
2,Argentina,AR,Córdoba,AR014,"POLYGON Z ((2288373.932 6695803.079 0.000, 228...","11,0",19.0,"0,858",2019.0,Argentina
3,Argentina,AR,Corrientes,AR018,MULTIPOLYGON Z (((3004612.053 6855238.635 0.00...,"6,8",10.0,"0,839",2019.0,Argentina
4,Argentina,AR,Formosa,AR034,"POLYGON Z ((2497424.367 7484757.793 0.000, 249...","5,8",4.0,"0,822",2019.0,Argentina
5,Argentina,AR,La Rioja,AR046,"POLYGON Z ((1842905.218 6918621.830 0.000, 184...","3,2",4.0,"0,840",2019.0,Argentina
6,Argentina,AR,Mendoza,AR050,"POLYGON Z ((1771643.879 6456186.096 0.000, 177...","7,9",8.0,"0,848",2019.0,Argentina
7,Argentina,AR,Salta,AR066,"POLYGON Z ((2451820.395 7539541.582 0.000, 245...","7,9",21.0,"0,844",2019.0,Argentina
8,Argentina,AR,San Juan,AR070,"POLYGON Z ((1734160.435 6855329.798 0.000, 173...","3,4",7.0,"0,838",2019.0,Argentina
9,Argentina,AR,San Luis,AR074,"POLYGON Z ((1968211.713 6465395.769 0.000, 196...","3,5",1.0,"0,843",2019.0,Argentina
10,Argentina,AR,Santa Fe,AR082,"POLYGON Z ((2663631.362 6846895.383 0.000, 270...","5,1",25.0,"0,841",2019.0,Argentina

In [ ]:
states.merge(datadis, left_on='Provincia', right_on='Provincia').shape

In [29]:
datadis.Provincia

0     Ciudad Autonoma de Buenos Aires
1                        Buenos Aires
2                             Cordoba
3                          Entre Rios
4                            Santa Fe
5                            La Rioja
6                             Mendoza
7                            San Juan
8                            San Luis
9                           Catamarca
10                              Jujuy
11                              Salta
12                Santiago Del Estero
13                            Tucuman
14                         Corrientes
15                              Chaco
16                            Formosa
17                           Misiones
18                             Chubut
19                            Neuquen
20                          Rio Negro
21                         Santa Cruz
22                   Tierra del Fuego
Name: Provincia, dtype: object

In [31]:
states.Provincia

0               Buenos Aires
1                  Catamarca
2                      Chaco
3                     Chubut
4     Ciudad de Buenos Aires
5                    Córdoba
6                 Corrientes
7                 Entre Ríos
8                    Formosa
9                      Jujuy
10                  La Pampa
11                  La Rioja
12                   Mendoza
13                  Misiones
14                   Neuquén
15                 Río negro
16                     Salta
17                  San Juan
18                  San Luis
19                Santa Cruz
20                  Santa Fe
21       Santiago del Estero
22          Tierra del Fuego
23                   Tucumán
Name: Provincia, dtype: object

In [36]:
# all capitals, no empty spaces before or after.

capitalizeColumns=lambda x: x.str.upper().str.strip()
datadis[['Provincia']]=datadis[['Provincia']].apply(capitalizeColumns)
states[['Provincia','Pais']]=states[['Provincia','Pais']].apply(capitalizeColumns)

In [37]:
!pip install unidecode

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: unidecode in c:\users\edgar ramos castro\appdata\roaming\python\python311\site-packages (1.3.6)

In [38]:
import unidecode


byePunctuation=lambda x: unidecode.unidecode(x)
datadis[['Provincia']]=datadis[['Provincia']].applymap(byePunctuation)  #applymap for olderpandas para colab
states[['Provincia','Pais']]=states[['Provincia','Pais']].applymap(byePunctuation) #applymap for olderpandas

In [39]:
datadis.Provincia.duplicated().sum(),states.Provincia.duplicated().sum()

(0, 0)

### Exercise 6

<div class="alert-success">
    
1. Choose a numeric variable from your merged data.
2. Decide which is the  best classification scheme for that variable.
3. Make a map for the best scheme.
4. Make a histogram for the best scheme.
</div>

### Exercise 7

<div class="alert-success">
        
Compute the neighbors of the capital of your country. Plot the results for each of the options. (calcula la distcnia rook queen y knn)
    
</div>

### Exercise 8

<div class="alert-success">
    
1. Compute the Moran's coefficient for **all** your numeric variables.
    
2. Make a scatter plot for each variable.
    
</div>