### Exercise 5

<div class="alert-success">
    
1. **Get a polygons map of the lowest administrative unit possible. : distrito**
    
2. Get a **table of variables for those units**. At least 3 numerical variables. densidad poblacion, indice de contaminacion  indice de probreza, etc**
    poblacion y superficie no considerar para las 3 varibles cuanti

3. **Preprocess both tables and get them ready for merging.**

4. **Do the merging, making the changes needed so that you keep the most columns.**
    el ejercicio ess juntar la data con la tabla de datos, no hay ningun calculo
    
    
</div>

In [64]:
from  fiona import listlayers
import os

argentinaMaps=os.path.join('maps','argentina22171','argentinaMaps22171_all3.gpkg')

#layers in maps
listlayers(argentinaMaps)

['country',
 'cities',
 'rivers',
 'states',
 'municipalities',
 'border',
 'airports']

In [65]:
# reading in the data:
import os
import geopandas as gpd

country=gpd.read_file(argentinaMaps,layer='country')
states=gpd.read_file(argentinaMaps,layer='states')
municipalities=gpd.read_file(argentinaMaps,layer='municipalities')
airports=gpd.read_file(argentinaMaps,layer='airports')
rivers=gpd.read_file(argentinaMaps,layer='rivers')
border=gpd.read_file(argentinaMaps,layer='border')

In [66]:
# data table
import pandas as pd

argData=os.path.join('data','base_dat_3_var.xlsx')
datadis=pd.read_excel(argData,
                     dtype={'Ubigeo': object})
datadis.info()
#hasta ahora solo hemos trabajado con su geometria no con su data
#tengo q hacer un merge: o sea meter la data dentro del poligono

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Provincia              25 non-null     object
 1   IDH_2019               25 non-null     object
 2   muertes_Tuberculosis   25 non-null     int64
 3   Pobreza_personas(%)    24 non-null     object
 4   Año                    25 non-null     int64
 5   Pais                   25 non-null     object
dtypes: int64(2), object(4)
memory usage: 1.3+ KB

In [67]:
# map
#import geopandas as gpd

#peruDataDist=os.path.join('miningGDF',"maps","DistritosMap.zip")

#datadismap=gpd.read_file(peruDataDist)

states.head()

,ADM0_ES,ADM0_PCODE,ADM1_ES,ADM1_PCODE,geometry
0,Argentina,AR,Buenos Aires,AR006,MULTIPOLYGON Z (((2335919.444 5475450.748 0.00...
1,Argentina,AR,Catamarca,AR010,"POLYGON Z ((1906189.076 7204695.456 0.000, 191..."
2,Argentina,AR,Chaco,AR022,"POLYGON Z ((2494292.791 7296258.081 0.000, 249..."
3,Argentina,AR,Chubut,AR026,MULTIPOLYGON Z (((1916196.919 4975824.860 0.00...
4,Argentina,AR,Ciudad de Buenos Aires,AR002,"POLYGON Z ((2747577.276 6094399.410 0.000, 274..."

In [68]:
#rename
states.rename(columns={'ADM1_ES':'Provincia', 'ADM0_ES':'Pais'},inplace=True)
states.head()

,Pais,ADM0_PCODE,Provincia,ADM1_PCODE,geometry
0,Argentina,AR,Buenos Aires,AR006,MULTIPOLYGON Z (((2335919.444 5475450.748 0.00...
1,Argentina,AR,Catamarca,AR010,"POLYGON Z ((1906189.076 7204695.456 0.000, 191..."
2,Argentina,AR,Chaco,AR022,"POLYGON Z ((2494292.791 7296258.081 0.000, 249..."
3,Argentina,AR,Chubut,AR026,MULTIPOLYGON Z (((1916196.919 4975824.860 0.00...
4,Argentina,AR,Ciudad de Buenos Aires,AR002,"POLYGON Z ((2747577.276 6094399.410 0.000, 274..."

In [69]:
tablaMergeadas=states.merge(datadis, left_on='Provincia', right_on='Provincia')
tablaMergeadas

,Pais_x,ADM0_PCODE,Provincia,ADM1_PCODE,geometry,IDH_2019,muertes_Tuberculosis,Pobreza_personas(%),Año,Pais_y
0,Argentina,AR,Buenos Aires,AR006,MULTIPOLYGON Z (((2335919.444 5475450.748 0.00...,"0,842",209,"11,3",2019,Argentina
1,Argentina,AR,Catamarca,AR010,"POLYGON Z ((1906189.076 7204695.456 0.000, 191...","0,844",2,"6,8",2019,Argentina
2,Argentina,AR,Chaco,AR022,"POLYGON Z ((2494292.791 7296258.081 0.000, 249...","0,808",7,"4,4",2019,Argentina
3,Argentina,AR,Chubut,AR026,MULTIPOLYGON Z (((1916196.919 4975824.860 0.00...,"0,858",9,"7,6",2019,Argentina
4,Argentina,AR,Corrientes,AR018,MULTIPOLYGON Z (((3004612.053 6855238.635 0.00...,"0,839",10,"6,6",2019,Argentina
5,Argentina,AR,Formosa,AR034,"POLYGON Z ((2497424.367 7484757.793 0.000, 249...","0,822",4,"11,0",2019,Argentina
6,Argentina,AR,Jujuy,AR038,"POLYGON Z ((2098377.586 7581146.835 0.000, 210...","0,840",10,"5,7",2019,Argentina
7,Argentina,AR,La Rioja,AR046,"POLYGON Z ((1842905.218 6918621.830 0.000, 184...","0,840",4,"6,8",2019,Argentina
8,Argentina,AR,Mendoza,AR050,"POLYGON Z ((1771643.879 6456186.096 0.000, 177...","0,848",8,"5,8",2019,Argentina
9,Argentina,AR,Misiones,AR054,MULTIPOLYGON Z (((3095005.586 6872963.019 0.00...,"0,842",14,"5,7",2019,Argentina
10,Argentina,AR,Salta,AR066,"POLYGON Z ((2451820.395 7539541.582 0.000, 245...","0,844",21,"3,2",2019,Argentina
11,Argentina,AR,San Juan,AR070,"POLYGON Z ((1734160.435 6855329.798 0.000, 173...","0,838",7,"8,6",2019,Argentina
12,Argentina,AR,San Luis,AR074,"POLYGON Z ((1968211.713 6465395.769 0.000, 196...","0,843",1,"7,6",2019,Argentina
13,Argentina,AR,Santa Cruz,AR078,MULTIPOLYGON Z (((1681041.738 4336736.817 0.00...,"0,854",4,NaN,2019,Argentina
14,Argentina,AR,Santa Fe,AR082,"POLYGON Z ((2663631.362 6846895.383 0.000, 270...","0,841",25,"3,5",2019,Argentina
15,Argentina,AR,Tierra del Fuego,AR094,MULTIPOLYGON Z (((1848191.934 3884066.663 0.00...,"0,856",1,"2,8",2019,Argentina

In [83]:
tablaMergeadas.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Pais_x                 16 non-null     object
 1   ADM0_PCODE             16 non-null     object
 2   Provincia              16 non-null     object
 3   ADM1_PCODE             16 non-null     object
 4   geometry               16 non-null     geometry
 5   IDH_2019               16 non-null     object
 6   muertes_Tuberculosis   16 non-null     int64
 7   Pobreza_personas(%)    15 non-null     object
 8   Año                    16 non-null     int64
 9   Pais_y                 16 non-null     object
dtypes: geometry(1), int64(2), object(7)
memory usage: 1.4+ KB

In [70]:
states.merge(datadis, left_on='Provincia', right_on='Provincia').shape

(16, 10)

In [71]:
datadis.Provincia

0     Ciudad Autonoma de Buenos Aires
1                        Buenos Aires
2                             Cordoba
3                          Entre Rios
4                            Santa Fe
5                            La Rioja
6                             Mendoza
7                            San Juan
8                            San Luis
9                           Catamarca
10                              Jujuy
11                              Salta
12                Santiago Del Estero
13                            Tucuman
14                         Corrientes
15                              Chaco
16                            Formosa
17                           Misiones
18                             Chubut
19                            Neuquen
20                          Rio Negro
21                         Santa Cruz
22                   Tierra del Fuego
23           Gran Tucumán -Tafí Viejo
24                      Jujuy-Palpalá
Name: Provincia, dtype: object

In [72]:
states.Provincia

0               Buenos Aires
1                  Catamarca
2                      Chaco
3                     Chubut
4     Ciudad de Buenos Aires
5                    Córdoba
6                 Corrientes
7                 Entre Ríos
8                    Formosa
9                      Jujuy
10                  La Pampa
11                  La Rioja
12                   Mendoza
13                  Misiones
14                   Neuquén
15                 Río negro
16                     Salta
17                  San Juan
18                  San Luis
19                Santa Cruz
20                  Santa Fe
21       Santiago del Estero
22          Tierra del Fuego
23                   Tucumán
Name: Provincia, dtype: object

In [73]:
# all capitals, no empty spaces before or after.

capitalizeColumns=lambda x: x.str.upper().str.strip()
datadis[['Provincia']]=datadis[['Provincia']].apply(capitalizeColumns)
states[['Provincia','Pais']]=states[['Provincia','Pais']].apply(capitalizeColumns)

In [74]:
!pip install unidecode

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: unidecode in c:\users\edgar ramos castro\appdata\roaming\python\python311\site-packages (1.3.6)

In [75]:
import unidecode


byePunctuation=lambda x: unidecode.unidecode(x)
datadis[['Provincia']]=datadis[['Provincia']].applymap(byePunctuation)  #applymap for olderpandas para colab
states[['Provincia','Pais']]=states[['Provincia','Pais']].applymap(byePunctuation) #applymap for olderpandas

In [76]:
datadis.Provincia.duplicated().sum(),states.Provincia.duplicated().sum()

(0, 0)

In [79]:
# concatenating
#datadis['provDist']=["+".join(pd) for pd in zip (datadis.Provincia)]
#datadismap['provDist']=["+".join(pd) for pd in zip (datadismap.Provincia)]

NameError: name 'datadismap' is not defined

### Exercise 6

<div class="alert-success">
    
1. Choose a numeric variable from your merged data.
2. Decide which is the  best classification scheme for that variable.
3. Make a map for the best scheme.
4. Make a histogram for the best scheme.
</div>

In [85]:
# statistics
tablaMergeadas.IDH_2019.describe()

count        16
unique       13
top       0,842
freq          2
Name: IDH_2019, dtype: object

In [84]:
!pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in c:\users\edgar ramos castro\appdata\roaming\python\python311\site-packages (0.13.0)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\programdata\anaconda3\envs\sds_mi_ambiente_romina\lib\site-packages (from seaborn) (1.25.2)
Requirement already satisfied: pandas>=1.2 in c:\programdata\anaconda3\envs\sds_mi_ambiente_romina\lib\site-packages (from seaborn) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.3 in c:\programdata\anaconda3\envs\sds_mi_ambiente_romina\lib\site-packages (from seaborn) (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\envs\sds_mi_ambiente_romina\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.1.1)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\envs\sds_mi_ambiente_romina\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\envs\sds_mi_ambiente_romina\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (4.43.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\envs\sds_mi_ambiente_romina\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\envs\sds_mi_ambiente_romina\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\envs\sds_mi_ambiente_romina\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\envs\sds_mi_ambiente_romina\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\envs\sds_mi_ambiente_romina\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\envs\sds_mi_ambiente_romina\lib\site-packages (from pandas>=1.2->seaborn) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\envs\sds_mi_ambiente_romina\lib\site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\envs\sds_mi_ambiente_romina\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.3->seaborn) (1.16.0)

In [ ]:
import seaborn as sea

sea.histplot(datadisMap.IDH2019, color='yellow')

In [ ]:
import mapclassify#esto no tien q ver con la data espacial ino cortes con la data numerica 
import numpy as np  #es uuna manera de decir equal interval

np.random.seed(12345) # so we all get the same results!

# let's try 5 intervals
K=5
theVar=datadisMap['IDH2019']
# same interval width, easy interpretation
ei5 = mapclassify.EqualInterval(theVar, k=K)
# same interval width based on standard deviation, easy - but not as the previous one, poor when high skewness
msd = mapclassify.StdMean(theVar)
# interval width varies, counts per interval are close, not easy to grasp, repeated values complicate cuts                                
q5=mapclassify.Quantiles(theVar,k=K)

# based on similarity, good for multimodal data 
mb5 = mapclassify.MaximumBreaks(theVar, k=K)
# based on similarity, good for skewed data
ht = mapclassify.HeadTailBreaks(theVar) # no K needed
# based on similarity, optimizer
fj5 = mapclassify.FisherJenks(theVar, k=K)
# based on similarity, optimizer
jc5 = mapclassify.JenksCaspall(theVar, k=K)
# based on similarity, optimizer
mp5 = mapclassify.MaxP(theVar, k=K)
#para calcular el error
#poca distancia intern mucha distancia extrena si me da valores altos es que la data no esta bien cortada
#todo depende de oco esta la data el problema son los valores extremos

### Exercise 7

<div class="alert-success">
        
Compute the neighbors of the capital of your country. Plot the results for each of the options. (calcula la distcnia rook queen y knn)
    
</div>

### Exercise 8

<div class="alert-success">
    
1. Compute the Moran's coefficient for **all** your numeric variables.
    
2. Make a scatter plot for each variable.
    
</div>